[submodule "games/moonbark-idle"]
	path = games/moonbark-idle
	url = https://github.com/MoonBark-Studio/IdleGame.git
[submodule "games/thistletide"]
	path = games/thistletide
	url = git@github.com:MoonBark-Studio/thistletide-godot.git
[submodule "plugins/Abilities"]
	path = plugins/Abilities
	url = https://github.com/MoonBark-Studio/Abilities.git
	branch = main
[submodule "plugins/EcsPhysics2D"]
	path = plugins/EcsPhysics2D
	url = https://github.com/MoonBark-Studio/EcsPhysics2D.git
[submodule "plugins/EntityTargetingSystem"]
	path = plugins/EntityTargetingSystem
	url = https://github.com/MoonBark-Studio/EntityTargetingSystem.git
[submodule "plugins/GridPathfinding"]
	path = plugins/GridPathfinding
	url = https://github.com/MoonBark-Studio/GridPathfinding.git
	branch = chris/event-cleanup
[submodule "plugins/NetworkSync"]
	path = plugins/NetworkSync
	url = https://github.com/MoonBark-Studio/NetworkSync.git
[submodule "plugins/PrototypeUI"]
	path = plugins/PrototypeUI
	url = https://github.com/MoonBark-Studio/PrototypeUI.git
[submodule "plugins/RenderingOptimizations"]
	path = plugins/RenderingOptimizations
	url = https://github.com/MoonBark-Studio/RenderingOptimizations.git
[submodule "plugins/TaskDistribution"]
	path = plugins/TaskDistribution
	url = https://github.com/MoonBark-Studio/TaskDistribution.git
[submodule "cores/MoonBark.Framework"]
	path = cores/MoonBark.Framework
	url = https://github.com/MoonBark-Studio/Framework
[submodule "plugins/AudioSystem"]
	path = plugins/AudioSystem
	url = https://github.com/MoonBark-Studio/AudioSystem.git
[submodule "plugins/GridPlacement"]
	path = plugins/GridPlacement
	url = https://github.com/MoonBark-Studio/GridPlacement.git
	branch = chris/event-cleanup
[submodule "plugins/ItemVault"]
	path = plugins/ItemVault
	url = https://github.com/MoonBark-Studio/ItemVault.git
	branch = main
[submodule "plugins/Attributes"]
	path = plugins/Attributes
	url = https://github.com/MoonBark-Studio/MoonBark.Attributes
[submodule "plugins/ItemDrops"]
	path = plugins/ItemDrops
	url = https://github.com/MoonBark-Studio/ItemDrops
[submodule "plugins/Minimap"]
	path = plugins/Minimap
	url = https://github.com/MoonBark-Studio/Minimap.git
[submodule "plugins/Quest"]
	path = plugins/Quest
	url = https://github.com/MoonBark-Studio/Quest.git
	branch = chris/event-cleanup
	[submodule "plugins/MapLoader"]
	path = plugins/MapLoader
	url = git@github.com:MoonBark-Studio/MapLoader.git
[submodule "plugins/WorldGen2D"]
	path = plugins/WorldGen2D
	url = https://github.com/MoonBark-Studio/WorldGen2D
[submodule "plugins/WorldState"]
	path = plugins/WorldState
	url = https://github.com/MoonBark-Studio/WorldState.git
[submodule "plugins/WorldTime"]
	path = plugins/WorldTime
	url = https://github.com/MoonBark-Studio/WorldTime
	branch = chris/event-cleanup
[submodule "plugins/AI"]
	path = plugins/AI
	url = https://github.com/MoonBark-Studio/MoonBark.AI
[submodule "plugins/Economy"]
	path = plugins/Economy
	url = https://github.com/MoonBark-Studio/Economy.git
[submodule "plugins/Upgrades"]
	path = plugins/Upgrades
	url = https://github.com/MoonBark-Studio/Upgrades.git
[submodule "plugins/Sensors"]
	path = plugins/Sensors
	url = https://github.com/MoonBark-Studio/Sensors.git

[submodule "plugins/StatusEffects"]
	path = plugins/StatusEffects
	url = https://github.com/MoonBark-Studio/StatusEffects.git

[submodule "plugins/Telemetry"]
	path = plugins/Telemetry
	url = https://github.com/MoonBark-Studio/Telemetry.git
[submodule "plugins/Crafting"]
	path = plugins/Crafting
	url = https://github.com/MoonBark-Studio/Crafting.git

[submodule "plugins/GridAgents"]
	path = plugins/GridAgents
	url = git@github.com:MoonBark-Studio/GridAgents.git
